@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.flex-1.min-w-0.space-y-8 {
  overflow: auto;
  max-height: 100vh !important;

}

.direito {
  width: 300px !important;
  border-radius: 0px !important;
  box-shadow: 0px !important;
  background-color: none !important;

}

.menuCard {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}

button,
[type='button'],
[type='reset'],
[type='submit'],
[role='button'] {
  cursor: pointer !important;
}

.custom-padding-bottom {
  padding-bottom: 100px !important;
  background-color: rgb(113, 113, 113) !important;
  margin-bottom: 50px !important;
}